<section id="about">
    <div class="wrapper">
        <div class="text-center">
            <h1 class="blue-title">About me</h1>
	    <div class="avatar"></div>
            <div class="content text-center">
                <h1 id="-">안녕하세요 컴퓨터교육과와 블록체인보안전공을 전공하고 있는 김승민입니다.</h1>
<p>##컴퓨터교육 &amp; 블록체인보안 전공</p>
<h2 id="-">학력</h2>
<ul>
<li>남광초등학교 졸업</li>
<li>제주제일중학교 졸업</li>
<li>남녕고등학교 졸업</li>
<li>제주대학교 재학</li>
</ul>
<h2 id="-">배경</h2>
<p>어릴 때 부터 호기심이 많고, 이해가 되지 않는 것이 있다면 납득하지 못하는 성격을 가지고 있었다. 수학 문제를 풀 때에도 공식을 외우기 전에 공식을 납득할 때까지 증명을 찾아보고, 전자기기의 작동 원리가 궁금해 분해해보기도 했다.<br>어릴 때 컴퓨터 게임에 빠지게 되었는데, &#39;게임은 어떻게 만들어질까?&#39;, &#39;컴퓨터는 어떻게 작동하는걸까?&#39; 같은 궁금증을 가지게 되면서 프로그래머에 꿈을 꾸게 되었다. 이 꿈이 이어져 컴퓨터교육과에 진학하게 되었다. </p>
<h2 id="-">목표</h2>
<p>대학에 진학하여 전공 지식을 배우고, 프로그래밍을 해보면서 내가 직접 새로운 프로그래밍 기술을 개발하고, 연구하는 사람이 되고 싶다는 생각이 들었다. 그래서 컴퓨터라는 학문에 좀 더 심도있게 다가고 싶어 대학원 진학을 희망하게 되었다.  </p>




            </div>
            <div style="margin: 10px 0">
                <a class="btn-primary btn-blue btn-left" href="mailto:{{ site.email }}" target="_blank">Email me</a>
				{% if site.author.resume %}
				<a class="btn-primary btn-blue btn-right" href="{{ site.author.resume }}" target="_blank">Resume</a>
				{% endif %}
            </div>
        </div>
    </div>
</section>
