<section id="about">
    <div class="wrapper">
        <div class="text-center">
            <h1 class="blue-title">About me</h1>
	    <div class="avatar"></div>
            <div class="content text-center">
                <h1 id="-">안녕하세요! 제주대학교 컴퓨터교육과 김승민입니다.</h1>
<p>#학력</p>
<h2 id="second-heading">Second Heading</h2>
<ul>
<li>남광초등학교 졸업</li>
<li>제주제일중학교 졸업</li>
<li>남녕고등학교 졸업</li>
<li>제주대학교 컴퓨터교육과 재학</li>
</ul>
<h3 id="-language-">언어 (Language)</h3>
<p><em>사용해본 언어 : C, C#, Python, Java, JavaScript, HTML
</em>주로 쓰는 언어 : C, Python
프로젝트</p>
<p>목표
.</p>
<p>Fork
This is some basic, sample markdown.</p>
<p>\</p>
<blockquote>
<p>Blockquote</p>
</blockquote>
<p>And <strong>bold</strong>, <em>italics</em>, and even <em>italics and later <strong>bold</strong></em>. Even <del>strikethrough</del>. <a href="https://markdowntohtml.com">A link</a> to somewhere.</p>
<p>And code highlighting:</p>
<pre><code class="lang-js"><span class="hljs-keyword">var</span> foo = <span class="hljs-string">'bar'</span>;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">baz</span><span class="hljs-params">(s)</span> </span>{
   <span class="hljs-keyword">return</span> foo + <span class="hljs-string">':'</span> + s;
}
</code></pre>
<p>Or inline code like <code>var foo = &#39;bar&#39;;</code>.</p>
<p>Or an image of bears</p>
<p><img src="http://placebear.com/200/200" alt="bears"></p>
<p>The end ...</p>

            </div>
            <div style="margin: 10px 0">
                <a class="btn-primary btn-blue btn-left" href="mailto:{{ site.email }}" target="_blank">Email me</a>
				{% if site.author.resume %}
				<a class="btn-primary btn-blue btn-right" href="{{ site.author.resume }}" target="_blank">Resume</a>
				{% endif %}
            </div>
        </div>
    </div>
</section>
